<% if flash[:application_error] %>
  <div data-alert class="callout alert">
    <% flash[:application_error].each do |msg| %>
      <ul>
        <li><%= msg %></li>
      </ul>
    <% end %>
  </div>
<% end %>
<div class="columns small-10">
  <%= form_with model: @application, local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :street %>
    <%= f.text_field :street %>
    <%= f.label :city %>
    <%= f.text_field :city %>
    <%= f.label :state %>
    <%= f.text_field :state %>
    <%= f.label :zip_code, 'Zip Code' %>
    <%= f.text_field :zip_code %>
    <%= f.label :status %>
    <%= f.select :status, get_statuses, {}, disabled: true %>
    <%= f.submit %>
  <% end %>
</div>