<div class="columns small-12">
  <p>Name: <%= @application.name %></p>
  <p>Street: <%= @application.street %></p>
  <p>City: <%= @application.city %></p>
  <p>State: <%= @application.state %></p>
  <p>Zip Code: <%= @application.zip_code %></p>
  <p>Reason: <%= @application.desc %></p>
  <p>Status: <%= @application.status.humanize %></p>
</div>

<div class="columns small-6">
  <h5>Add a Pet to this Application</h5>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.text_field :term, placeholder: "Search By Name" %>
    <%= f.submit "Search" %>
  <% end %>
</div>

<div class="columns small-6">
  <% if @pets && !@pets.empty? %>
    <ul>
      <% @pets.each do |p| %>
        <li><a href=""><%= p.name %></a></li>
      <% end %>
    </ul>
  <% end %>
</div>


