<div class="columns small-12">
  <p>Name: <%= @application.name %></p>
  <p>Street: <%= @application.street %></p>
  <p>City: <%= @application.city %></p>
  <p>State: <%= @application.state %></p>
  <p>Zip Code: <%= @application.zip_code %></p>
  <p>Reason: <%= @application.desc %></p>
  <p>Status: <%= @application.status.humanize %></p>
</div>