<div class="columns small-12">
  <h1><%= @pet.name %></h1>
  <ul>
    <li>Age: <%= @pet.age %> years old</li>
    <li>Breed: <%= @pet.breed %></li>
    <li>Adoptable?: <%= @pet.adoptable %></li>
    <li>Shelter: <%= @pet.shelter_name %></li>
  </ul>
</div>

<p><%= link_to "Update #{@pet.name}", "pets/#{@pet.id}/edit" %></p>
<p><%= link_to "Delete #{@pet.name}", "/pets/#{@pet.id}", method: :delete %></p>
