<%= render 'admin_header' %>

<div class="columns small-12">
  <h1>Admin Application Show</h1>
</div>

<div class="columns small-12">
  <p>Name: <%= @application.name %></p>
  <p>Street: <%= @application.street %></p>
  <p>City: <%= @application.city %></p>
  <p>State: <%= @application.state %></p>
  <p>Zip Code: <%= @application.zip_code %></p>
  <p>Reason: <%= @application.desc %>
  <p>Status: <%= @application.status %></p>
</div>

<% unless @application.pets.empty? %>
  <% if flash[:pet_error] %>
    <div data-alert class="callout alert">
      <%= flash[:pet_error] %>
    </div>
  <% end %>

  <div class="columns small-12" id="pets">
    <% unless @application.accepted? || @application.rejected? %>
      <%= link_to 'Approve all pets', "/admin/applications/#{@application.id}/approve_pets" %>
    <% end %>

    <h3>Pets: </h3>
    <ul>
      <% @application.pets.each do |p| %>
        <% approved = p.approved?(@application) %>
        <li id="pet-<%= p.id %>">
          <%= p.name %>
          <% if approved == true %>
            <p>✅ Approved</p>
          <% elsif approved == false %>
            <p style="color: red">X Rejected</p>
          <% elsif p.accepted? %>
            <p>This pet has been approved for adoption.</p>
            <%= link_to 'Reject', "/admin/applications/#{@application.id}/reject_pet/#{p.id}" %>
          <% else %>
            <%= link_to 'Approve', "/admin/applications/#{@application.id}/approve_pet/#{p.id}" %>
            <%= link_to 'Reject', "/admin/applications/#{@application.id}/reject_pet/#{p.id}" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


